// blanca-traverse
@import '_variables.scss';

body[data-mountain="blanca-traverse"] {
	background-color: #ff90bd;

	.title {
		color: black;
	}

	polygon[id*="shard-"] {
		display: block;
		position: absolute;
		z-index: 10;
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-64vw, 1vh);
		}
	}

}

