// blanca-traverse
@import '_variables.scss';

body[data-mountain="blanca-traverse"] {
	background-color: #ff90bd;

	.title {
		color: black;
	}

	// .mountains {
	// 	background-image:
	// 	    radial-gradient(
	// 	      circle closest-side at 58% 40%,
	// 	      #FFDE7F,
	// 	      rgba(255,222,127,0.001) // safari transparent fix
	// 	    );
	// }

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-64vw, 1vh);
		}
	}

}

