// EARTH
@import '_variables.scss';
@import '_utilities.scss';

$earth-light: #AED180;
$earth-shade-30: #A1C276;
$earth-shade-60: #90B165;
$earth-dark: #6C8649;

body[data-mountain="earth"] {
	background-color: #313644;

	.title-nav {
		transition: all 0.3s;
	}

	.nav-earth {
		background: rgba(255, 255, 255, 0.1);
		pointer-events: none;
	}

	// account for dark theme
	// TODO: move to theme-dark class if more dark themes
	.logo {
		color: rgba(255, 255, 255, 0.9);
	}

	footer {
		color: rgba(255, 255, 255, 0.5);
	}

	.title {
		color: #fff !important;
	}

	a:link {
		color: $earth-blue;
	}

	a:visited {
		color: darken($earth-blue, 10%);
	}

	a:hover {
		color: lighten($earth-blue, 10%);
	}

	.data {
		background-color: rgba(255, 255, 255, 0.7);
		cursor: pointer;
		max-height: none;
		// allow tooltip hover
		overflow-y: visible;
		position: relative;
		transition: 0.30s $rock-easing;

		@include mquery(small) {
			position: absolute;
		}

		&:before {
			@extend .psuedo-element;
			content: "view mountain...";
			color: rgba(255,255,255,0.8);
			opacity: 0;
			transition: opacity 0.25s;
			top: -30px;
			left: $default-padding;
			height: auto;
			width: auto;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.9);

			&:before {
				opacity: 1;
			}
		}
	}

	.data-close {
		visibility: visible;
	}

	.about-block,
	.about-container h3 {
		color: rgba(255, 255, 255, 0.8);
	}

	// svg
	#arrow-top,
	#arrow-bottom {
		fill: #fff;
		opacity: 0.3;
	}
	#arrow-bottom {
		opacity: 0.4;
	}

	// alternate earthshine
	@keyframes earth-shine-out {
	    0% {
	        opacity: 1;
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}

	@keyframes earth-shine-in {
	    0% {
	        opacity: 0;
	    }
	    50% {
	        opacity: 1;
	    }
	    100% {
	        opacity: 0;
	    }
	}

	.mountains {
		background-image: none;

		svg {
			z-index: 1;
		}

		&:before,
		&:after {
			@extend .psuedo-element;
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		&:before {
			animation: earth-shine-out 30s infinite;
			background-image:
			    radial-gradient(
			      circle closest-side at 50% 50%,
			      #7fffff,
			      rgba(255,222,127,0.001) // safari transparent fix
			    );
			opacity: 1;
		}

		&:after {
			animation: earth-shine-in 30s infinite;
			opacity: 0;
			background-image:
			    radial-gradient(
			      circle closest-side at 50% 50%,
			      #ff6306,
			      rgba(255,222,127,0.001) // safari transparent fix
			    );
		}
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	@keyframes earth-grow {
	    0% {
	        transform: scale(0.1);
	    }
	    100% {
	        transform: scale(1);
	    }
	}

	#earth-outline {
		animation: earth-grow 600ms;
		transform-origin: center;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); // bounce
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-14vw, 3vh);
			&:after {
				display: block;
			}
		}
	}

	.earth-mtn {
		// show mountains
		display: block;
		visibility: visible;
		// style
		background-color: $earth-mountain;
		//background: linear-gradient(to right, rgba(116,70,144,1) 30%,rgba(230,221,236,1) 50%,rgba(116,70,144,1) 100%);
		cursor: pointer;
		position: absolute;
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		z-index: 9;
		&.hover {
			background-color: darken($earth-mountain, 15%);
		}
		// snow effect to indicate clickable

	}

	.earth-mtn-bugaboo {
		clip-path: polygon( 51.200% 36.333%, 52.400% 36.333%, 51.400% 32.667% );
		&:hover,
		&.hover {
			clip-path: polygon( 50.600% 35.667%, 52.800% 36.000%, 51.200% 30.333% );
		}
	}

	.earth-mtn-tetons {
		clip-path: polygon( 40.800% 44.333%, 40.600% 47.667%, 41.600% 47.667% );
		&:hover,
		&.hover {
			clip-path: polygon( 41.000% 43.333%, 40.000% 47.667%, 42.000% 47.667% );
		}
	}

	.earth-mtn-blanca-traverse {
		clip-path: polygon( 40.400% 48.333%, 41.400% 51.000%, 40.400% 51.000% );
		&:hover,
		&.hover {
			clip-path: polygon( 40.600% 47.333%, 41.400% 51.667%, 39.600% 51.333% );
		}
	}

	.earth-mtn-glacier-peak {
		animation: snow 9s 8s ease infinite;
		clip-path: polygon( 36.600% 44.333%, 36.800% 41.333%, 37.600% 44.333% );
		&:hover,
		&.hover {
			clip-path: polygon( 36.200% 44.667%, 36.600% 40.000%, 37.800% 44.333% );
		}
	}

	///*** STARFIELD ***///

	// n is number of stars required
	@function box-shadows($n) {
		$value: '#{random(1500)}px #{random(1500)}px #FFF';

		@for $i from 2 through $n {
		  $value: '#{$value} , #{random(1500)}px #{random(1500)}px 0 #FFF';
		}

		@return unquote($value)
	}

	$shadows-small:  box-shadows(500);
	$shadows-medium: box-shadows(200);
	$shadows-big:    box-shadows(75);

	@keyframes milkyway {
	    0% {
	        opacity: 0;
	    }
	    50% {
	        opacity: 1;
	    }
	    100% {
	        opacity: 0;
	    }
	}

	.starfield-wrapper {
		position: fixed;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		top: 0;
		left: 0;
		visibility: visible;

		// milky way
		&:before,
		&:after {
			@extend .psuedo-element;
		}

		&:before {
			animation: earth-shine-in 20s infinite;
			opacity: 0;
			background: linear-gradient(
				to left top,
				rgba(30,87,153,0) 0%,
				rgba(30, 87, 153, 0.14) 19%,
				rgba(30, 85, 153, 0.2) 20%,
				rgba(25, 17, 56, 0.19) 50%,
				rgba(11, 20, 53, 0.18) 51%,
				rgba(30,87,153,0.15) 80%,
				rgba(30, 61, 153, 0.12) 81%,
				rgba(30,87,153,0) 100%
			);
		}

		&:after {
			animation: earth-shine-out 20s infinite;
			opacity: 1;
			background: linear-gradient(
				to left top,
				rgba(30,87,153,0) 0%,
				rgba(25, 123, 92, 0.14) 29%,
				rgba(26, 109, 78, 0.2) 30%,
				rgba(13, 43, 32, 0.19) 50%,
				rgba(10, 47, 44, 0.18) 51%,
				rgba(15, 72, 72, 0.15) 80%,
				rgba(18, 93, 89, 0.12) 81%,
				rgba(30,87,153,0) 100%);
		}
	};

	.starfield {
		display: block;
		transition: all 0.8s;
		z-index: 1;
	}

	.starfield-1 {
	    animation: starfield 200s linear infinite;
	    box-shadow: $shadows-small;
	    height: 1px;
	    opacity: 0.5;
	    width: 1px;

	}

	.starfield-2 {
	    animation: starfield 150s linear infinite;
	    box-shadow: $shadows-medium;
	    height: 2px;
	    opacity: 0.7;
	    width: 2px;
	}

	.starfield-3 {
	    animation: starfield 100s linear infinite;
	    box-shadow: $shadows-big;
	    height: 3px;
	    opacity: 0.8;
	    width: 3px;
	}

	@keyframes starfield {
		0% {
	    	transform: translateY(0px);
		}
		100%	{
	    	transform: translateY(-100vh);
		}
	}

	// SHOOTING STAR
	.shooting-star {
		background: linear-gradient(
			to right,
			rgba(0,0,0,0) 0%,
			rgba(254,254,254,0.98) 98%,
			rgba(254,254,254,1) 100%);

		height: 1px;
		opacity: 0.3;
		position: relative;
		// top, left, and width get overridden in js
		top: 0;
		left: 0;
		width: 200px;
    // do not transition visibility
    transition: opacity 0.8s, transform 0.8s;
    transform: rotate(45deg) translate(0);
    visibility: hidden;

    &.animate {
      opacity: 0;
      transform: rotate(45deg) translate(50vw);
      visibility: visible;
    }
	}

	// SATELLITES
	.satellite-wrapper {
		// this rotates on an elliptical orbit
		transform: perspective(1000px) rotateY(55deg);
		transform-style: preserve-3d;
		position: fixed;
		height: 80vh;
		top: 0;
		left: 0;
		width: 100vw;
	}

	@keyframes satellite-path {
	    0% {
	        transform: rotate(0deg);
	    }
	    100% {
	        transform: rotate(360deg);
	    }
	}

	@keyframes satellite-blink {
	    0% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}
	// shared styles
	.earth-satellite {
		@extend .psuedo-element;
		animation: satellite-path 30s linear infinite;
		animation-delay: 1s;
		background-color: rgba(255, 255, 255, 0.8);
		// TODO: test this
		transform: translate3d(0, 0, 0);
		height: 1px;
		width: 1px;

		&:after {
			animation: satellite-blink 1200ms infinite;
			background-color: red;
			display: block;
			content: '';
			width: 1px;
			height: 1px;
			transform: translateY(1px);
		}
	}

	.earth-satellite-1 {
		top: 15vh;
		left: 50vh;
		transform-origin: -2vw 28vh;
	}

	.earth-satellite-2 {
		animation-direction: reverse;
		top: 10vh;
		left: 30vh;
		transform-origin: 8vw 22vh;
	}

} // END earth.. uh oh
