// estrellita
@import '_variables.scss';
@import '_utilities.scss';

$estrellita-light: #DBEBB8;
$estrellita-shade-30: #9EB275;
$estrellita-shade-60: #666A2F;
$estrellita-dark: #353E0D;


body[data-mountain="estrellita"] {
	background-color: #FF8F5A;

	.title {
		color: $estrellita-dark;
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-11vw, 3vh);
		}
	}
}
