// glacier-peak
@import '_variables.scss';

$glacier-peak-light: #E5DED9;

body[data-mountain="glacier-peak"] {
	background-color: #bf3dde;

	h1 {
		color: $glacier-peak-light;
		text-align: center;
	}

	.mountains {
		background-image:
		    radial-gradient(
		      circle closest-side at 58% 40%,
		      #FFDE7F,
		      rgba(255,222,127,0.001) // safari transparent fix
		    );
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-11vw, 3vh);
		}
	}
}


