// TETONS
@import '_variables';

body[data-mountain="tetons"] {
	background-color: #FF8F5A;

	.title {
		color: #353E0D;
	}

	.content {
		h2 {
			color: #fff;
		}
	}

	// data box position
	.data {
		@include mquery(small) {
			transform: translate(-11vw, 3vh);
		}
	}
}
